@media(hover: none) {
      .cursor {
        display: none;
      }
    }
    
    
    @media screen and (max-width: 1200px) {
      .slide {
        flex-direction: column;
        padding: 6rem;
      }
      .hero__description {
        align-items: center;
        text-align: center;
        max-width: 60rem;
        padding-left: 0;
      }
      .hero__span {
        display: inline;
      }
    
      .explore {
        align-self: center;
      }
    }
    
    @media screen and (max-width: 900px) {
     .main__nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 5rem;
     }
    
     .nav__links {
      align-items: center;
      justify-content: center;
     }
    
     .contact {
      padding: 0 3rem;
      justify-content: center;
      text-align: center;
     }
    }
    @media screen and (max-width: 600px) {
      .hero__description h1 {
        font-size: 4rem;
      }
      
      .hero__description {
        justify-content: center;
        gap: 1rem;
      }
      .hero__img {
        flex-basis: 10rem;
      }
      
      .slide {
       padding:6rem 3rem;
       height: 100vh;
      }
    
      .header {
        padding: 32px 32px;
      }
    }
    
    @media screen and (max-width: 400px) { 
      html {
           font-size: 60%;
      }
    }
    